/* css styles */
.feedback-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:#cfd3e0;
  color: black;
  font-weight: bold;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feedback-button:hover {
  background-color: #a0a6b8;
}